$bootstrap-sass-asset-helper: "~/fonts/" !default;
$icon-font-path: if($bootstrap-sass-asset-helper, "~/fonts/", "~/fonts/") !default;
$body-bg: #0e5cc3 !default;

$navbar-default-color:             #ffffff !default;
$navbar-default-bg:                #3366cc !default;
$navbar-default-border:            #3366cc !default;

// Navbar links
$navbar-default-link-color:                #ffffff !default;
$navbar-default-link-hover-color:          #cccccc !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #cccccc !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;
